@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  line-height: 1.6;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, .9);
  background-color: #F9FAFE;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, .9);
}

a:hover {
  color: #1677ff;
}

a:focus {
  outline: none;
}

a:active {
  color: #1677ff;
}

.title {
  color: #1677ff;
}

header {
  padding: 10px;
  height: 55px;
  display: flex;
  background-color: #fff;
  /* border-top: 1px solid skyblue; */
  box-shadow: 1px 1px 3px #eee;
}

.logo {
  width: 50%;
  margin-top: 5px;
  display: flex;

  a {
    font-size: 19px;
    color: #1677ff;
    font-family: "Microsoft Yahei", SimSun, serif;
    margin-left: 9px;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

.navigation {
  position: relative;
  width: 50%;
  float: right;
  text-align: right;
  padding-right: 30px;
}

.navigation ul {
  list-style-type: none;
  margin-top: 10px;
}

.navigation ul li {
  display: inline;

}

.navigation ul li:not(:last-child):after {
  content: "|";
  margin: 0 10px;
}

.navigation .profile {
  position: relative;
  display: inline-block;

  .self {
    img {
      width: 16px;
      height: 16px;
      display: inline;
      margin-bottom: 4px;
    }
  }

  .dds {
    display: none;
    position: absolute;
    margin-top: 2px;
    min-width: 90px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: left;
    background-color: #efefef;

    a {
      text-decoration: none;
      display: block;
      padding: 5px 10px;
    }

    a:hover {
      color: #1677ff;
      background-color: #ddd;
    }
  }
}

.navigation .profile:hover {
  .dds {
    display: block;
  }

  .self {
    color: #1677ff;
  }
}

aside {
  display: flex;
  float: left;
  width: 60px;
  height: calc(100vh - 55px);
  background-color: #efefef;

  .appbtn {
    display: block;
    width: 56px;
    text-align: center;
    background-color: white;
    margin: 2px 2px;
    padding-top: 5px;

    /* :hover{
      background-color: #ccc;
    } */
  }

  img {
    width: 22px;
    height: 22px;
    margin: 1px 17px;
  }

  .lang {
    display: block;
    width: 56px;
    text-align: center;
    padding: 10px 2px;
  }
}

main {
  display: flex;
  width: calc(100% - 60px);
  height: calc(100vh - 55px);
  overflow-y: scroll;
}

main::-webkit-scrollbar {
  width: 4px;
  height: 1px;
}

main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
}

/* #noscrollbar::-webkit-scrollbar {
  width: 4px;
  height: 1px;
}

#noscrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
} */

.svgstart {
  fill: green;

  :hover {
    fill: darkgreen;
  }
}

.svgstop {
  fill: orange;

  :hover {
    fill: red;
  }
}

div.editBox {
  margin: 15px;
  height: 100%;

  .codeArea {
    width: 700px;
    height: 100%;
    float: left;
  }

  .formArea {
    float: left;
    /* border-left: 1px solid #eee; */

  }

  .line {
    margin-bottom: 20px;
    clear: left;

    .half {
      width: 50%;
      float: left;
      display: block;
      margin-bottom: 10px;
    }
  }

  .btn {
    margin-left: 20px;
    margin-top: -20px;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.tbl {
  width: 96%;
  border: 1px solid #eee;

  thead {
    background-color: #efefef;
    text-align: left;
    vertical-align: bottom;

    th {
      font-weight: normal;
      border-right: 1px solid #dfdfdf;
    }

    th:last-child {
      border-right: 1px solid #eee;
    }
  }

  th,
  td {
    font-size: inherit;
    overflow: visible;
    padding: .375em .5em;
    border-width: 0 0 1px 0;
    border: 1px solid #efefef;
  }
}

.content {
  display: block;
  /* 或者使用 flex, inline-block 等，取决于你的布局需求 */
  white-space: normal;
  overflow-wrap: break-word;
  /* 如果需要换行显示 */
  width: calc(100vw - 500px);
}

.pager {
  border: none;
  text-align: right;
}